<h1>{{book.title}}</h1>
<span>Written by: {{book.author.0.name}} {{book.author.0.lastName}}</span>
<p>Summary: {{book.description}}</p>
<p>Rating: {{book.rating}}/10</p>
  <div id="map"></div>
  
<p>Add a review</p>
<form action="/reviews/add/{{book._id}}" method="post">
  <label for="">User:</label>
  <input type="text" name="user">

  <label for="">Comments:</label>
  <textarea type="text" name="comments"></textarea>

  <button type="submit">ADD</button>
</form>
<hr>
<h2>Reviews</h2>
{{#each book.reviews}}
<div class="review-item">
  <p>{{comments}}</p>
  <span>{{user}}</span>
</div>
{{/each}}

<a href="/books">Return</a>