<div class="beers-container">
  <a href="/beer?id={{id}}">
    <img src={{image_url}} alt="beer image" width="100px">
    <h1>{{name}}</h1>
    <h2>{{tagline}}</h2>
    <p>{{description}}</p>
  </a>
</div>